:root{
  /* 可依實際視覺微調：正值=左側往下；負值=往上 */
  --icp-nudge-top: -10px;
  --icp-nudge-bottom: 0px; /*控制表格上下寬度*/
}
#icp-section .section-head,
#combo-section .section-head {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 0px;
  margin-top:-4px;
  display: flex;
  align-items: center;
}
#icp-section .icp-box{ border-radius: 8px; }
#combo-section .chart-wrap{ padding-bottom: 8px; }
